# -------------
# Base de datos
# -------------

DB_HOST= # Nombre del servicio en Docker Compose
DB_PORT= # Puerto interno (3306)
DB_NAME= # Nombre de la DB
DB_USER= # Usuario
DB_PASSWORD= # Contraseña


# -------------------------
# Seguridad y Autenticación
# -------------------------

SECRET_KEY= # Clave para firmar y validar tokens JWT
ALGORITHM= # Algoritmo de cifrado (HS256)
ACCESS_TOKEN_EXPIRE_MINUTES= # Tiempo de validez del token


# -------------
# App y Entorno
# -------------

APP_ENV= # development (local) / production (AWS)
DEBUG= # true (local) / false (producción)


# ------------------
# CI/CD y Despliegue
# ------------------

DOCKERHUB_USERNAME= # Usuario de Docker Hub
SSH_HOST= # IP elástica de instancia EC2
SSH_USER= # Usuario SSH de AWS (ubuntu o ec2-user)

# ---> La clave privada se configura en GitHub Secrets